.conpg2 > * {
  animation: clr linear forwards;
  animation-timeline: view();
  animation-range: 70% 90%;
}
.work > * {
  animation: clr linear forwards;
  animation-timeline: view();
  animation-range: 70% 90%;
  color: #e6e6ac;

}
.conpg2 { 
  min-height: 148vh;
  min-width: 100vw;
  width: 100vw; 

  background-color: #0B1215;
  display: flex;
  justify-content: center;
  align-items: center;

  animation: clr linear forwards;
  animation-timeline: view();
 
  animation-range: 70% 90%;
}
@keyframes clr {
  from {
    background-color: #0B1215
  }
  to {
    background-color: rgb(34, 27, 27);
  }
}

.span { 
  z-index: 3; 
  animation: hov 2s infinite 2s linear; 
  position: relative;
}
@keyframes hov {
  0% {
    transform: translateY(0);
}

50% {
    transform: translateY(-17px);
}

100% {
    transform: translateY(0);
}
}
.linecon {
  z-index: 3;
  position: absolute;
  top: 83%; 
  margin-top: 2rem; 
 color: aliceblue;
  background-color: #0B1215; 
}
.linepar {
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38vh;
  width: 100%;
  background-color: #0B1215;
  position: absolute;

  animation: fd linear forwards;
  animation-timeline: view();
}
@keyframes fd {
  0% {
    top: 60px;
    height: 38vh;
    opacity: 1;
  }
  30% {
    top: 40px;
    height: 30vh;
    opacity: 1;
  }
  100% {
    height: 30vh;
    top: -90px;
    opacity: 1;
  }
}

.line {
  width: 1px;
  background-color: rgb(248, 248, 248);
 
  height: 100%;  
}
  
.conpg2 .work {
  background-color: #0B1215;
  display: flex;
  z-index: 1;
  width: 100%;
  height: 70vh;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
@keyframes fade {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.h1andspan {
  background-color:  #0B1215;
  width: 60%;
  height: 100%;
  z-index: 3; 
  margin-top:  12rem; 
} 
@keyframes show {
  0% { 
    height: 32vh;
    opacity: 0;
  }
  27% { 
    height: 30vh;
    opacity: 0;
  }
  37% { 
    height: 30vh;
    opacity: 1;
  }
  100% { 
    top: -90px;
    opacity: 1;
  }
}  
.workh1 {
  position: relative;
  color: #0B1215;
  z-index: 3;
  font-size: larger;
  font-weight: bolder;
  width: 100%;
  height: 40%;
  left: 0px;
  font-family: "Times New Roman", Times, serif;
}
.workspan {
  background-color: #0B1215;
  z-index: 3;
  position: relative;
  width: 100%;
  height: 48%;
  font-family: "Times New Roman", Times, serif;

  animation: clr linear forwards;
  animation-timeline: view();
  animation-range: 70% 90%;
} 
@keyframes clr {
  from {
    background-color: #0B1215;
  }
  to {
    background-color: rgb(34, 27, 27);
  }
} 
.work .img {
  position: relative;
   
  background-color: #0B1215;
}
.img img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0B1215;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.work > * {
  transition: transform 0.1s ease-out;
}
.gelatine {
  animation: gelatine 0.5s 1;
}
@keyframes gelatine {
  from, to { transform: scale(1, 1); }
  25% { transform: scale(0.9, 1.1); }
  50% { transform: scale(1.1, 0.9); }
  75% { transform: scale(0.95, 1.05); }
}