body {
  overflow-x: hidden;
}
#prjh1 {
  color: black;
}
section {
  top: 0;
  width: 100vw;
}
.prjverpg1 {
  background-color: #1c1717;
  height: 60vh;
}
 
.scrollsec {
  scroll-behavior: smooth;
  position: relative;
  background-color: rgb(215, 21, 131);
  height: 100vh;
  will-change: transform;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
}
.elem {
  border: 2px solid black;
  width: 100vw;
  height: 100%;
} 
.projh1 {
   
  position: relative;
  font-size: 7rem;
  font-weight: bolder;
  top: 6rem;
  color:wheat ; 
  
} 
.projh2 {
  position: relative;
  font-size: 7rem;
  top: 15rem;
  font-weight: bolder;
  color:wheat ;

}
.projh1par {
  position: absolute;

  display: flex;
  justify-content: center;
  width: 100vw;
  height: 90vh;

  font-weight: bolder;
 
  color: transparent;
  -webkit-background-clip: text;
} 
.popup{
  background-color: burlywood;
  height: 2rem;
   width: fit-content;
   border: 2px solid black;
   border-radius: 3px;

 opacity: 0;
  animation:  ajao linear ;  
  animation-timeline: view(); 
  transition: transform .4s;
} 
.popup:hover{
transform:scale(1.5);
 
} 

.popup2{
  background-color: goldenrod;
  height: 2rem;
   width: fit-content;
   border: 2px solid black;
   border-radius: 3px; 
 opacity: 0;
  animation:  ajao2 linear ;  
  animation-timeline: view(); 

} 
@keyframes ajao {
  0%{
    opacity: 0;
    top: 0;
  }
  80%{
   top:2rem;
    opacity: 1;

  }
  100%{
   top:2rem;
    opacity: 1;

  }
}
 
@keyframes ajao2 {
  0%{
    opacity: 0;
  top: 0;
  }
  80%{
  top:4rem;
    opacity: 1;

  }
  100%{
  top:4rem;
    opacity: 1;

  }
}
.preac{
  position: relative;
  left: 20%;
}
.pnode{
  position: relative;
  left: 70%;
}
.pexpress{
  position: relative;
  left: 30%;
}
.pcss{ 
  position: relative;
  left: 60%;
}
.pwind{
  position: relative;
  left: 20%;
}
.psinger{
  position: relative;
  left: 3%;
}
.pmongo{
  position: relative;
  left: 50%;
}
.pcpp{
  position: relative;
  left: 20%;
}
.pphp{
  position: relative;
  left: 80%;
}
.pnet{
  position: relative;
  left: 40%;
}
.pcon{
  position: relative;
  left: 20%;
}
.pbe{
  position: relative;
  left: 50%;
}
.skills{ 
  top: 0; 
  height: 120vh;
  background-color: transparent;
  top: 0px;
  position: -webkit-sticky;
  position: sticky;
}
.skillscon{
  height: 400vh;
  background-color: #1c1717; 
}
.projin{ width: 30rem;
  background-color: #1c1717;
  border: 1px solid white;
}
.projincon{  
   display: grid;
   place-items: center;

   
}

.projincon section{ 
  margin-bottom: 8rem;
  background-color: rgb(34, 47, 58);
  border-radius: 10px;
  box-shadow: 2px 4px 2px;
  padding : 1rem 2rem; 
  
} 
.hidden{ 
  transition: all 1s;
  filter: blur(10px);
  transform: translateX(-100%);
}
@media(prefers-reduced-motion){
  .hidden{
    transition: none;
  }
}
.show{
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0);
}
p{
  color: aliceblue;
}
.headd h1{
  animation: ajo linear forwards ;
  animation-timing-function: ease-out;
  animation-timeline: view();
  animation-range: -10% 90%;
}
@keyframes ajo {
  0%{  
    margin-top: 0%;
}
100%{  
  margin-top: 30%;
}
}